#wrapper {
    margin-top: 60px;
}
#blog-title, .post-title, .tag-title {
    font-family: "ff-enzo-web-1","ff-enzo-web-2";
}

.post-title {
    margin-bottom: 5px;
}
.post-date {
    margin: 8px 7px 0 0;
    float: left;
}
.entry {
    margin-top: 10px;
}
.listing {
    margin-bottom: 15px;
}
