body {margin: 0; padding: 0;}

#header{
  top: 25px; 
  right: 0;
  padding: 10px;
  position: fixed;
  z-index: 9999;
}

#wrapper {
    padding: 115px 0 0 0; 
    margin: 0; 
    width: 1000px;
}

#left-col {
	position: fixed;
	float: left;
	padding: 0 10px 0 0; margin: 0;
	width: 250px; min-width: 250px;
	height: 75%; min-height: 600px;
}

#right-col {
	position: relative;
	left: 265px;
	min-height: 800px;
	padding-left: 0;
}

#footer {
	text-align: center;
	width: 750px;
	clear: both;
	position: relative;
	left: 265px;
	padding: 5px 0 30px 0;
}

#left-col {border-right: 1px solid #aeaeae;}

.posttitle {color: #111;}

#searchform {
	border: 1px solid #000;
	background-color: #fff;
}

a {text-decoration: none;}

a img {border: none;}

#blog-title a {color: white;}

.breadcrumb a {color: inherit;}

#menu a,
.children a,
.sub-menu a
{color: #3c3c3c; text-decoration: none;}

#menu a:hover {color: black;}

#sidebar a:link,	#sidebar a:visited,
#right-col a:link,	#right-col a:visited,
#footer a:link,		#footer a:visited
{color: #003366;}

#sidebar a:hover, 	#sidebar a:active,
#right-col a:hover,	#right-col a:active,
#footer a:link, 	#footer a:active
{color: #5588BB;}

.widgettitle a {color: black !important;}

.posttitle a {
	color: #111 !important; /* Blah this is an ugly hack to fix IE issues*/
	text-decoration: none; 
}

.entry a {font-style: italic; font-weight: bold;}

/*

Typography - font sizes, line hight, and font's: based on em
----------
Note:
Base font is set to 16px
Base font for entry is 14px

*/
body {font-size: 1em; font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;}

.entry
{font-size: .875em; line-height: 1.285em;}

input
{font-size: 1em;}

small, #footer
{font-size: .625em;}

code {font-family: Courier, monospace; font-weight: bold;}

pre {
	display: block;
	font-family: Courier, monospace;
	padding: 5px 10px 5px 10px;
	margin: 10px 0 10px 0;
	font-weight: bold;
	font-size: .9em;
}

/* headers */
h1, h2 {
    font-family: ff-enzo-web,sans-serif;
}

#blog-title {
    font-weight: 700;
	font-size: 2em;
	margin: 0;
	padding: 5px 15px;
	display: inline;
	vertical-align: middle;
	background-color: black;
}

.entry h1,
.posttitle
{font-size: 2em; line-height: 1.5em} /* roughly 28px; */

.entry h2 {font-size: 1.857em; line-height: 1.5em} /* roughly 26px */

.entry h3 {font-size: 1.714em; line-height: 1.5em} /* roughly 24px */
.widgettitle {font-size: 1.25em; padding: 0 0 5px 0; margin: 0;} /* 20px */

.entry h4 {font-size: 1.429em; line-height: 1.5em} /* roughly 20px */

.entry h5 {font-size: 1.142em; line-height: 1.5em} /* roughly 16px */

.entry h6 {font-size: 1em; line-height: 1.5em} /* 14px */


/* Sidebar Items */

#left-col {
    text-align: right;
    font-family: ff-enzo-web,sans-serif;
}

.menu-item,
.page_item
{font-size: 1.5em;}

#menu ul.children,
#menu ul.sub-menu {
	list-style: none; 
	margin: 0; 
	padding: 2px 0;
	display: none;
	background-color: #FFF; 
}

.children li,
.sub-menu li 
{font-size: 14px;} /* Hate having to do this, but I don't want sub-menu's to degrade to a lesser font-size */

#menu .children .children,
#menu .sub-menu .sub-menu
{margin: 0;}

#sidebar ul li {font-size: .8em;}

/* Navigation */
.breadcrumb {
	font-size: .9em;
	font-style: italic;
	text-align: right;
	color: #7e7e7e;
	font-weight: normal;
}

/* Post Elements */

.post-metadata {font-size: .714em; text-transform:lowercase;} /* 10px */

.post-author {font-size: .8em; font-style: italic;}

/* Form Elements */

#searchform {
	font-size: .8em;
}


/* Specific Page Elements and Post Formats */

/* 
-- Attachment.php Pages
*/
.single-attachment #wrapper {margin: 0 auto;}

#right-col.attachment {left: 0;}

.attachment .entry {margin: 0 auto;	width: 600px;}

/*
-- Header Elements
*/
.menu-item,
.page_item 
{
	margin: 8px 0 8px 0;
	text-align: right;
	list-style: none;
}

.breadcrumb {
	width: 400px;
	margin: 10px 0 5px 0;
	padding: 0;
}

/* Content and Post Elements */

#right-col .post,
#right-col .page
{margin: 0 0 10px 5px; padding: 0 5px 15px 5px;}

.post-author {padding-bottom: 4px;}

.posttitle {margin: 0 0 2px 0; padding: 0 0 3px 0;}

.entry p {margin-bottom: 1em; padding: 0;}

.post-metadata {clear: both;}

.post-metadata p {padding: 0; margin: 0 0 3px 0;}

#right-col img {height: auto; max-width: 100%;}

.post-pages-navigation {clear: both; text-align: center;}

/* Sidebar Design */

.children, .sub-menu {margin: 0; padding: 0 0 0 15px;}

.widgettitle + ul,
.widgettitle + form,
.widgettitle + div 
{display: none;} /* Created so widgets could drop down on touch */

.plus {padding-right: 18px;	background: url('../images/plus.png') right 40% no-repeat;}

.minus {padding-right: 18px; background: url('../images/minus.png') right 40% no-repeat;}

#wp-calendar {margin-left: 100px;}

#sidebar {padding: 5px 0 0 5px; margin: 0;}

#sidebar div {margin: 0 0 15px 0; padding: 0 0 5px 0;}

#sidebar p, #sidebar select {margin: 8px 0 5px 0; padding: 0;}

#sidebar ul, #sidebar ol {margin: 5px 0 0 5px; padding: 0 0 5px 0;}

#sidebar ul ul, #sidebar ul ol {margin: 0 0 0 5px;}

ol li, #sidebar ol {list-style: decimal outside;} /* I don't quite know when numbered lists are used on the sidebar in WordPress, but incanse... */

#sidebar ul li {list-style: none;}

#sidebar ul li, #sidebar ol li {margin: 3px 3px 0 0; padding: 0 0 5px 0;}

/* Search Form - Used in both the header and sidebar */
#searchform {
	height: 20px;
	padding: 0;
	margin: 0;
	width: 250px;
}

#s {
	margin: 0;
	border: none;
	width: 169px;
	padding: 0 3px;
}

#searchsubmit {
	border: none;
	background-color: #000;
	color: #fff;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
	width: 75px;
	height: 20px;
}

#header #searchform {float: right;} /* Header Search Form */