<!doctype html>
<!-- https://github.com/paulirish/html5-boilerplate/blob/master/index.html -->
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  {% block starthead %}{% endblock starthead %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}">
  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="author" content="{{ resource.meta.author }}">
  <meta name="viewport" content="{{ resource.meta.viewport }}">
  {% block favicons %}
  <!-- Place favicon.ico & apple-touch-icon.png
        in the root of your domain and delete these references -->
  {% endblock favicons %}

  {% block css %}
  <link rel="stylesheet" href="{{ media_url('foundation/stylesheets/foundation.min.css') }}">
  <link rel="stylesheet" href="{{ media_url('foundation/stylesheets/app.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/style.css') }}">
  {% endblock css %}

  {% block headjs %}
  <!-- All JavaScript at the bottom, except for Modernizr which
        enables HTML5 elements & feature detects -->
    <script src="{{ media_url('js/libs/modernizr-1.7.min.js') }}"></script>
    <!--[if lt IE 9]>
    	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://use.typekit.com/zaw2yij.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  {% endblock headjs %}
  {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
  {% block content %}
      {% block container %}
          <div id="wrapper" class="row">
          <div id="left-col" class="three columns">
              <header id="header">
              {% block header -%}
              <h2 id="blog-title"><a href="/">Eric <br />van Zanten <br />A blog</a></h2>
                <h2 class="breadcrumb"><!-- Figure out breadcrumbs--></h2>
              {%- endblock %}
              </header>
            {% block nav %}
            <p><a title="About this site" href="/about-this-site.html">About this site</a></p>
            {% endblock nav %}
            <p><a id="feed_link" href="http://feeds.feedburner.com/static-eric">Subscribe to the RSS Feed</a></p>
            <div class="row">
                <form id="searchform">
                    <div class="row collapse">
                        <div class="eight columns mobile-three">
                            <input type="text" id="s" name="s">
                        </div>
                        <div class="four columns mobile-one">
                            <input type="submit" value="Search" id="searchsubmit" class="postfix expand button secondary">
                        </div>
                    </div>
                </form>
            </div>
            <div id="search-results"></div>
          </div>
          <div id="right-col" class="nine columns">
              {% block main %}
              {% endblock main %}
            </div>
          </div>
          <footer id="footer" class="row">
          <div class="ten columns centered panel radius">
            Copyright &copy; 2013 Eric van Zanten
          </div>
          </footer>
    {% endblock container %}
  {% endblock content%}
  {% block js %}
  <!-- Javascript at the bottom for fast page loading -->
  {% block jquery %}
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/media/js/libs/jquery-1.7.2.min.js">\x3C/script>')</script>
  {% endblock jquery %}
    <script src="{{ media_url('js/search.js') }}"></script>
    <script src="{{ media_url('js/libs/spin.min.js') }}"></script>
    <script src="{{ media_url('js/jquery.spin.js') }}"></script>
  {% block scripts %}
  {% endblock scripts %}


  <!--[if lt IE 7 ]>
    <script src="/media/js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->

  {% block analytics %}
  {% include "analytics.j2" %}
  {% endblock analytics %}

  {% endblock js %}
</body>
</html>
