{% extends "base.j2" %}

{% block main -%}
<article class="post">
<h1 class="posttitle">{{ resource.meta.title }}</h1>
<time class="post-author" datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
    Posted: {{ resource.meta.created.strftime('%a, %d %b %Y') }}
</time>
<a href="http://twitter.com/share"
    class="twitter-share-button"
    data-count="horizontal"
    data-via="{{ tweet_via }}">Tweet</a>
    <script type="text/javascript"
        src="http://platform.twitter.com/widgets.js"></script>
<div class="entry">
{% filter markdown|typogrify %}
{% mark post %}
{% block post %}{% endblock %}
{% endmark %}
{% endfilter %}
</div>
{% if resource.meta.tags %}
<div class="post-metadata alt">
    <p><strong>Tags: </strong>
{% for tag in resource.meta.tags %}
    <a class="small" href="{{ content_url('blog/tags/'~tag~'.html') }}">
        {{ tag }}
    </a>
{% endfor %}
</p>
</div>
{% endif %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'static-eric';
        var disqus_identifier = '{{ resource.meta.title }}';
        var disqus_url = 'http://static-eric.com/{{ resource.url }}';
        var disqus_developer = 1;
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</article>

{%- endblock %}