{% macro render_excerpt(res, class=None) %}
{% refer to res.url as post %}
{% if res.meta.title %}
<article {{'class='~class if class }}>
<h3 class="post-title"><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h3>
<time class="post-date" datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
    <span class="label radius secondary">{{ res.meta.created.strftime('%B %d, %Y') }}</span>
</time>
<div class="entry">
{{ post.excerpt|markdown|typogrify }}
</div>
</article>
{% endif %}
{% endmacro %}

{% macro render_nav(menu, cls=None) -%}
{% if menu -%}
<nav {{'class='~cls if cls }}>
    <ul>
        {% for item in menu -%}
        {% set active = False -%}
        {% if item.type == 'page' -%}
            {% set active = (resource.url ==
                site.content.resource_from_relative_path(item.url).url) -%}
        {% else -%}
            {% set active = (node ==
                site.content.node_from_relative_path(item.url)) -%}
        {%- endif %}
        {% set classes = ['button', 'white'] -%}
        {% do classes.append('active') if active -%}
        {% do classes.append(item.css_class) if item.css_class -%}
        <li>
            <a title="{{ item.description }}"
                class="{{ classes|join(' ') }}"
                href="{{ content_url(item.url) }}">
                {{ item.name }}
            </a>
        </li>
        {%- endfor %}
    </ul>
</nav>
{%- endif %}
{%- endmacro %}
