{% extends "base.j2" %}

{% block main %}
<section class="archives">
<h1 class="tag-title">Posts tagged {{ tag.name }}</h1>
{% for resource in walker() -%}
<div class="listing">
    <h3 class="post-title"><a href="{{ content_url(resource.url) }}">{{ resource.meta.title }}</a></h3>
    <time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
        <span class="label radius secondary">{{ resource.meta.created.strftime('%B %d, %Y') }}</span>
    </time>
</div>
{%- endfor %}
</section>
{% endblock %}
